# Convergence Figure CRANE

### STEP 1. WOS Tranformation

- use citation-iot/ai-robot-clarivate.sql to extract WOS_id and WOS_ref
- add dataset column
- create a list of unique ids per target (wos_id) and source (ref_id) for a specific domain
- combine three datasets
- add 6 columns with binary values s.ai, s.iot, s.rob, t.ai, t.iot, t.rob. Use lists of ids and target ids to assign 1 or 0
- inspect and remove the self-looping source-target
    - Note: source-target-looping target_id does not have 'WOS:' at the beginning of the id. Remove those records.
- add year and citation information to wos_id using ISI files exported from MAC
- add year to ref_id
- add edge_id (combine wos and ref id separated by hyphen)

Create year-Source/Target dictionary (AItoROB) where the value is the number of Source/Target co-occurences 
Gephi nodes
- Rob Lat - 40
- Iot Lat - 20
- AI Lat - 60
- Longitude: (year - 1998) * 100

In [1]:
import pandas as pd
import numpy as np
import csv
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# Load CSV Files
ai = pd.read_csv('../data/citation-ai-index-clarivate.csv', encoding='latin1', sep=",")
rob = pd.read_csv('../data/citation-robot-index-clarivate.csv', encoding='latin1', sep=",")
iot = pd.read_csv('../data/citation-iot-index-clarivate.csv', encoding='latin1', sep=",")

In [4]:
ai['dataset'] = 'ai'
rob['dataset'] = 'rob'
iot['dataset'] = 'iot'

In [5]:
ai_wos = set(ai.id)
ai_ref = set(ai.ref_id)
rob_wos = set(rob.id)
rob_ref = set(rob.ref_id)
iot_wos = set(iot.id)
iot_ref = set(iot.ref_id)

In [6]:
df = pd.concat([ai, rob, iot], ignore_index=True)

In [12]:
df.head()

,id,ref_id,dataset,s.ai,s.rob,s.iot,t.ai,t.rob,t.iot
31,WOS:000403744000004,WOS:A1995TF15300001,ai,1,0,0,1,0,0
49,WOS:000397585800014,WOS:000378658500016,ai,1,0,0,1,0,0
51,WOS:000397585800014,WOS:000377173400001,ai,1,0,0,1,0,0
53,WOS:000397585800014,WOS:000379694100060,ai,1,0,0,1,0,0
54,WOS:000397585800014,WOS:000287620700007,ai,1,0,0,1,0,0

In [8]:
df['s.ai'] = df['id'].apply(lambda x: 1 if x in ai_wos else 0)
df['s.rob'] = df['id'].apply(lambda x: 1 if x in rob_wos else 0)
df['s.iot'] = df['id'].apply(lambda x: 1 if x in iot_wos else 0)

In [9]:
df['t.ai'] = df['ref_id'].apply(lambda x: 1 if x in ai_ref else 0)
df['t.rob'] = df['ref_id'].apply(lambda x: 1 if x in rob_ref else 0)
df['t.iot'] = df['ref_id'].apply(lambda x: 1 if x in iot_ref else 0)

In [11]:
df = df.drop(df[df['ref_id'].str.contains('^[0-9]',regex=True)==True].index)

### Upload ISI files

In [13]:
# Load CSV Files [I changed the column names '# Citations' > Citations, 'Publication Year' > Year, 'WoS ID' > wos_id]
ai_isi = pd.read_csv('../data/ISI-Publications-ai.csv', encoding='latin1', sep=",")
rob_isi = pd.read_csv('../data/ISI-Publications-Robotics.csv', encoding='latin1', sep=",")
iot_isi = pd.read_csv('../data/ISI-Publications-IOT.csv', encoding='latin1', sep=",")

In [14]:
df2 = pd.concat([ai_isi, rob_isi, iot_isi], ignore_index=True)

In [15]:
df3 = df.merge(df2, how='left', on=['id'])

In [20]:
df3.head()

,id,ref_id,dataset,s.ai,s.rob,s.iot,t.ai,t.rob,t.iot,Year,Citations,edge_id
0,WOS:000403744000004,WOS:A1995TF15300001,ai,1,0,0,1,0,0,2017,11,WOS:000403744000004-WOS:A1995TF15300001
1,WOS:000397585800014,WOS:000378658500016,ai,1,0,0,1,0,0,2017,30,WOS:000397585800014-WOS:000378658500016
2,WOS:000397585800014,WOS:000377173400001,ai,1,0,0,1,0,0,2017,30,WOS:000397585800014-WOS:000377173400001
3,WOS:000397585800014,WOS:000379694100060,ai,1,0,0,1,0,0,2017,30,WOS:000397585800014-WOS:000379694100060
4,WOS:000397585800014,WOS:000287620700007,ai,1,0,0,1,0,0,2017,30,WOS:000397585800014-WOS:000287620700007

In [17]:
df3 = df3.drop(['Discipline','Subdiscipline', 'Title','Authors','Journal'], axis=1)

In [19]:
df3['edge_id'] = df3[['id', 'ref_id']].apply(lambda x: '-'.join(x.astype(str)), axis=1)

In [21]:
df4 = df3.drop(['ref_id','dataset', 's.ai','s.rob','s.iot','t.ai', 't.rob','t.iot','Citations','edge_id'], axis=1)

In [22]:
df4.tail()

                         id  Year
506096  WOS:000401664100004  2016
506097  WOS:000401664100004  2016
506098  WOS:000401664100004  2016
506099  WOS:000401664100004  2016
506100  WOS:000401664100004  2016

In [23]:
df4.columns = ['ref_id', 'TargetYear']

In [24]:
df5 = pd.merge(df4,df3,  on=['ref_id'])

In [32]:
df5 = pd.merge(df4,df3,  on=['ref_id'])
df5 = df5.drop_duplicates()

In [33]:
df5.head()

,ref_id,TargetYear,id,dataset,s.ai,s.rob,s.iot,t.ai,t.rob,t.iot,Year,Citations,edge_id
0,WOS:000289029800005,2011,WOS:000385595200022,ai,1,0,0,1,0,0,2016,15,WOS:000385595200022-WOS:000289029800005
36,WOS:000291123500010,2011,WOS:000403632000005,ai,1,0,0,1,0,0,2017,2,WOS:000403632000005-WOS:000291123500010
113,WOS:000413946600014,2017,WOS:000416790500071,iot,0,0,1,0,0,1,2017,4,WOS:000416790500071-WOS:000413946600014
150,WOS:000290536400012,2011,WOS:000372644300043,ai,1,0,0,1,0,0,2016,1,WOS:000372644300043-WOS:000290536400012
161,WOS:000400822900194,2017,WOS:000408751100012,ai,1,0,0,1,0,0,2017,3,WOS:000408751100012-WOS:000400822900194

In [34]:
df5.columns.tolist()

['ref_id',
 'TargetYear',
 'id',
 'dataset',
 's.ai',
 's.rob',
 's.iot',
 't.ai',
 't.rob',
 't.iot',
 'Year',
 'Citations',
 'edge_id']

In [35]:
cols = ['edge_id', 'id','ref_id', 's.ai','s.rob','s.iot','t.ai','t.rob','t.iot','dataset','Year','TargetYear','Citations']

In [36]:
df5 = df5[cols]

In [37]:
df5.to_csv('convergence_id_ref.csv', index=False)

### Step 2. Conver to Network
- import convergence_id_ref.csv
- parse df3
- create Source and Target nodes and edges

In [2]:
df5 = pd.read_csv('convergence_id_ref.csv', encoding='latin1', sep=",")

In [3]:
df5 = df5.drop_duplicates()

In [4]:
len(df5.id)

29565

In [10]:
df5.to_csv('convergence.csv', index=False)

In [5]:
df5.head()

,edge_id,id,ref_id,s.ai,s.rob,s.iot,t.ai,t.rob,t.iot,dataset,Year,TargetYear,Citations
0,WOS:000385595200022-WOS:000289029800005,WOS:000385595200022,WOS:000289029800005,1,0,0,1,0,0,ai,2016,2011,15
1,WOS:000403632000005-WOS:000291123500010,WOS:000403632000005,WOS:000291123500010,1,0,0,1,0,0,ai,2017,2011,2
2,WOS:000416790500071-WOS:000413946600014,WOS:000416790500071,WOS:000413946600014,0,0,1,0,0,1,iot,2017,2017,4
3,WOS:000372644300043-WOS:000290536400012,WOS:000372644300043,WOS:000290536400012,1,0,0,1,0,0,ai,2016,2011,1
4,WOS:000408751100012-WOS:000400822900194,WOS:000408751100012,WOS:000400822900194,1,0,0,1,0,0,ai,2017,2017,3

In [6]:
wosYears = {}
wosCitations = {}
AItoROB = {}
IOTtoAI = {}
ROBtoIOT = {}
ROBtoAI = {}
AItoIOT = {}
IOTtoROB = {}

Nodes = []
NodeDict = {}
Edges = []

In [5]:
df5.head()

,edge_id,id,ref_id,s.ai,s.rob,s.iot,t.ai,t.rob,t.iot,dataset,Year,TargetYear,Citations
0,WOS:000385595200022-WOS:000289029800005,WOS:000385595200022,WOS:000289029800005,1,0,0,1,0,0,ai,2016,2011,15
1,WOS:000385595200022-WOS:000289029800005,WOS:000385595200022,WOS:000289029800005,1,0,0,1,0,0,ai,2016,2011,15
2,WOS:000385595200022-WOS:000289029800005,WOS:000385595200022,WOS:000289029800005,1,0,0,1,0,0,ai,2016,2011,15
3,WOS:000385595200022-WOS:000289029800005,WOS:000385595200022,WOS:000289029800005,1,0,0,1,0,0,ai,2016,2011,15
4,WOS:000385595200022-WOS:000289029800005,WOS:000385595200022,WOS:000289029800005,1,0,0,1,0,0,ai,2016,2011,15

In [7]:
for index, row in df5.iterrows():
    wosID = str(row[1])
    year = str(row[10])
    wosYears[wosID] = year

In [12]:
#wosYears = dict(zip(df5.id, df5.Year))

In [45]:
len(wosYears)

11018

In [75]:
#AItoROB

In [8]:
for index, row in df5.iterrows():
    AIsource = row['s.ai']
    AItarget = row['t.ai']
    ROBsource = row['s.rob']
    ROBtarget = row['t.rob']
    IOTsource = row['s.iot']
    IOTtarget = row['t.iot']
    srcYear = row['Year']#wosYears[row[1]]
    trgYear = row['TargetYear']
    if ((AIsource == 1) & (ROBtarget == 1)):
        #AItoROB[(srcYear, trgYear)] = 1
        keys = (srcYear, trgYear)
        AItoROB[keys] = AItoROB.setdefault(keys, 0) + 1
       # print(keys)
        #if AItoROB.keys in ((srcYear, trgYear)):
           # print(srcYear)
         #   AItoROB[(srcYear, trgYear)] += 1
            
       # else: AItoROB[(srcYear, trgYear)] = 1

    if ((ROBsource == 1) & (IOTtarget == 1)):
        #print((srcYear, trgYear))
        keys = (srcYear, trgYear)
        ROBtoIOT[keys] = ROBtoIOT.setdefault(keys, 0) + 1
       # if ROBtoIOT.keys in ((srcYear, trgYear)):
        #    ROBtoIOT[(srcYear, trgYear)] += 1
        #else: ROBtoIOT[(srcYear, trgYear)] = 1
    if ((IOTsource == 1) & (AItarget == 1)):
        #if IOTtoAI.keys in ((srcYear, trgYear)):
        ##    IOTtoAI[(srcYear, trgYear)] += 1
       # else: IOTtoAI[(srcYear, trgYear)] = 1
        keys = (srcYear, trgYear)
        IOTtoAI[keys] = IOTtoAI.setdefault(keys, 0) + 1
    if ((ROBsource == 1) & (AItarget == 1)):
       # if ROBtoAI.keys in ((srcYear, trgYear)):
       #     ROBtoAI[(srcYear, trgYear)] += 1
       # else: ROBtoAI[(srcYear, trgYear)] = 1
        keys = (srcYear, trgYear)
        ROBtoAI[keys] = ROBtoAI.setdefault(keys, 0) + 1
    if ((AIsource == 1) & (IOTtarget == 1)):
       # if AItoIOT.keys in ((srcYear, trgYear)):
        #    AItoIOT[(srcYear, trgYear)] += 1
       # else: AItoIOT[(srcYear, trgYear)] = 1
        keys = (srcYear, trgYear)
        AItoIOT[keys] = AItoIOT.setdefault(keys, 0) + 1
    if ((IOTsource == 1) & (ROBtarget == 1)):
      #  if IOTtoROB.keys in ((srcYear, trgYear)):
       #     IOTtoROB[(srcYear, trgYear)] += 1
      #  else: IOTtoROB[(srcYear, trgYear)] = 1
        keys = (srcYear, trgYear)
        IOTtoROB[keys] = IOTtoROB.setdefault(keys, 0) + 1
   # print(row['c1'], row['c2'])

In [46]:
nodes = []
for key, value in AItoROB.items():
    nodes.append([key[0],key[1],value])
   # print(key[0],key[1],value)

In [47]:
pd.DataFrame(nodes).to_csv("ai_to_rob_nodes.csv",index=False)

In [56]:
for key, value in ROBtoIOT.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 40, srcLon]) #Robot row
    Nodes.append([len(Nodes) + 1, int(key[1]), 20, trgLon]) #IoT row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
    print(int(key[0]), int(key[1]), (int(key[0]) - 1998), ((int(key[0]) - 1998)*100), ((int(key[1]) - 1998)*100))
print(Nodes)
print(Edges)

2016 2016 18 1800 1800
2017 2012 19 1900 1400
2016 2009 18 1800 1100
2010 2007 12 1200 900
2012 2005 14 1400 700
2011 2005 13 1300 700
2010 2005 12 1200 700
2015 2005 17 1700 700
2013 2005 15 1500 700
2008 2005 10 1000 700
2017 2005 19 1900 700
2009 2005 11 1100 700
2014 1999 16 1600 100
2014 2012 16 1600 1400
2016 2013 18 1800 1500
2015 2013 17 1700 1500
2014 2013 16 1600 1500
2017 2013 19 1900 1500
2017 2015 19 1900 1700
2016 2015 18 1800 1700
2015 2015 17 1700 1700
2016 2014 18 1800 1600
2007 2004 9 900 600
2017 2016 19 1900 1800
2004 2004 6 600 600
2008 2004 10 1000 600
2011 2004 13 1300 600
2006 2004 8 800 600
2012 2004 14 1400 600
2010 2004 12 1200 600
2009 2004 11 1100 600
2016 2004 18 1800 600
2014 2004 16 1600 600
2013 2004 15 1500 600
2015 2004 17 1700 600
2011 2007 13 1300 900
2007 2007 9 900 900
2017 2007 19 1900 900
2016 2007 18 1800 900
2012 2007 14 1400 900
2015 2007 17 1700 900
2013 2007 15 1500 900
2014 2007 16 1600 900
2009 2006 11 1100 800
2011 2006 13 1300 800
2015 2012 17 1700 1400
2011 2010 13 1300 1200
2017 2010 19 1900 1200
2016 2010 18 1800 1200
2014 2010 16 1600 1200
2015 2010 17 1700 1200
2003 2000 5 500 200
2016 2000 18 1800 200
2008 2000 10 1000 200
2012 2000 14 1400 200
2017 2014 19 1900 1600
2014 2008 16 1600 1000
2013 2008 15 1500 1000
2017 2008 19 1900 1000
2010 2008 12 1200 1000
2012 2008 14 1400 1000
2015 2008 17 1700 1000
2014 2003 16 1600 500
2015 2003 17 1700 500
2017 2003 19 1900 500
2013 2003 15 1500 500
2010 2003 12 1200 500
2009 2003 11 1100 500
2016 2012 18 1800 1400
2013 2012 15 1500 1400
2011 2008 13 1300 1000
2016 2008 18 1800 1000
2009 2008 11 1100 1000
2013 2013 15 1500 1500
2017 2017 19 1900 1900
2014 2014 16 1600 1600
2015 2014 17 1700 1600
2013 2001 15 1500 300
2007 2001 9 900 300
2010 2001 12 1200 300
2016 2011 18 1800 1300
2014 2011 16 1600 1300
2015 2011 17 1700 1300
2013 2011 15 1500 1300
2008 2007 10 1000 900
2005 2004 7 700 600
2012 2002 14 1400 400
2004 2002 6 600 400
2006 2002 8 800 400
2010 2002 12 1200 400
2013 2002 15 1500 400
2016 2002 18 1800 400
2011 2002 13 1300 400
2005 2002 7 700 400
2015 2002 17 1700 400
2009 2002 11 1100 400
2007 2002 9 900 400
2014 2002 16 1600 400
2007 2000 9 900 200
2006 2000 8 800 200
2004 2000 6 600 200
2017 2000 19 1900 200
2009 2000 11 1100 200
2013 2000 15 1500 200
2014 2000 16 1600 200
2011 2000 13 1300 200
2000 2000 2 200 200
2001 2000 3 300 200
2015 2000 17 1700 200
2005 2000 7 700 200
2002 2000 4 400 200
2010 2000 12 1200 200
2013 2014 15 1500 1600
2012 2012 14 1400 1400
2017 2011 19 1900 1300
2011 2011 13 1300 1300
2012 2011 14 1400 1300
2014 2009 16 1600 1100
2013 2009 15 1500 1100
2015 2009 17 1700 1100
2017 2009 19 1900 1100
2011 2009 13 1300 1100
2012 2010 14 1400 1200
2013 2010 15 1500 1200
2010 2010 12 1200 1200
2007 2005 9 900 700
[[1, 2016, 40, 180], [2, 2016, 20, 180], [3, 2017, 40, 190], [4, 2012, 20, 140], [5, 2016, 40, 180], [6, 2009, 20, 110], [7, 2010, 40, 120], [8, 2007, 20, 90], [9, 2012, 40, 140], [10, 2005, 20, 70], [11, 2011, 40, 130], [12, 2005, 20, 70], [13, 2010, 40, 120], [14, 2005, 20, 70], [15, 2015, 40, 170], [16, 2005, 20, 70], [17, 2013, 40, 150], [18, 2005, 20, 70], [19, 2008, 40, 100], [20, 2005, 20, 70], [21, 2017, 40, 190], [22, 2005, 20, 70], [23, 2009, 40, 110], [24, 2005, 20, 70], [25, 2014, 40, 160], [26, 1999, 20, 10], [27, 2014, 40, 160], [28, 2012, 20, 140], [29, 2016, 40, 180], [30, 2013, 20, 150], [31, 2015, 40, 170], [32, 2013, 20, 150], [33, 2014, 40, 160], [34, 2013, 20, 150], [35, 2017, 40, 190], [36, 2013, 20, 150], [37, 2017, 40, 190], [38, 2015, 20, 170], [39, 2016, 40, 180], [40, 2015, 20, 170], [41, 2015, 40, 170], [42, 2015, 20, 170], [43, 2016, 40, 180], [44, 2014, 20, 160], [45, 2007, 40, 90], [46, 2004, 20, 60], [47, 2017, 40, 190], [48, 2016, 20, 180], [49, 2004, 40, 60], [50, 2004, 20, 60], [51, 2008, 40, 100], [52, 2004, 20, 60], [53, 2011, 40, 130], [54, 2004, 20, 60], [55, 2006, 40, 80], [56, 2004, 20, 60], [57, 2012, 40, 140], [58, 2004, 20, 60], [59, 2010, 40, 120], [60, 2004, 20, 60], [61, 2009, 40, 110], [62, 2004, 20, 60], [63, 2016, 40, 180], [64, 2004, 20, 60], [65, 2014, 40, 160], [66, 2004, 20, 60], [67, 2013, 40, 150], [68, 2004, 20, 60], [69, 2015, 40, 170], [70, 2004, 20, 60], [71, 2011, 40, 130], [72, 2007, 20, 90], [73, 2007, 40, 90], [74, 2007, 20, 90], [75, 2017, 40, 190], [76, 2007, 20, 90], [77, 2016, 40, 180], [78, 2007, 20, 90], [79, 2012, 40, 140], [80, 2007, 20, 90], [81, 2015, 40, 170], [82, 2007, 20, 90], [83, 2013, 40, 150], [84, 2007, 20, 90], [85, 2014, 40, 160], [86, 2007, 20, 90], [87, 2009, 40, 110], [88, 2006, 20, 80], [89, 2011, 40, 130], [90, 2006, 20, 80], [91, 2015, 40, 170], [92, 2012, 20, 140], [93, 2011, 40, 130], [94, 2010, 20, 120], [95, 2017, 40, 190], [96, 2010, 20, 120], [97, 2016, 40, 180], [98, 2010, 20, 120], [99, 2014, 40, 160], [100, 2010, 20, 120], [101, 2015, 40, 170], [102, 2010, 20, 120], [103, 2003, 40, 50], [104, 2000, 20, 20], [105, 2016, 40, 180], [106, 2000, 20, 20], [107, 2008, 40, 100], [108, 2000, 20, 20], [109, 2012, 40, 140], [110, 2000, 20, 20], [111, 2017, 40, 190], [112, 2014, 20, 160], [113, 2014, 40, 160], [114, 2008, 20, 100], [115, 2013, 40, 150], [116, 2008, 20, 100], [117, 2017, 40, 190], [118, 2008, 20, 100], [119, 2010, 40, 120], [120, 2008, 20, 100], [121, 2012, 40, 140], [122, 2008, 20, 100], [123, 2015, 40, 170], [124, 2008, 20, 100], [125, 2014, 40, 160], [126, 2003, 20, 50], [127, 2015, 40, 170], [128, 2003, 20, 50], [129, 2017, 40, 190], [130, 2003, 20, 50], [131, 2013, 40, 150], [132, 2003, 20, 50], [133, 2010, 40, 120], [134, 2003, 20, 50], [135, 2009, 40, 110], [136, 2003, 20, 50], [137, 2016, 40, 180], [138, 2012, 20, 140], [139, 2013, 40, 150], [140, 2012, 20, 140], [141, 2011, 40, 130], [142, 2008, 20, 100], [143, 2016, 40, 180], [144, 2008, 20, 100], [145, 2009, 40, 110], [146, 2008, 20, 100], [147, 2013, 40, 150], [148, 2013, 20, 150], [149, 2017, 40, 190], [150, 2017, 20, 190], [151, 2014, 40, 160], [152, 2014, 20, 160], [153, 2015, 40, 170], [154, 2014, 20, 160], [155, 2013, 40, 150], [156, 2001, 20, 30], [157, 2007, 40, 90], [158, 2001, 20, 30], [159, 2010, 40, 120], [160, 2001, 20, 30], [161, 2016, 40, 180], [162, 2011, 20, 130], [163, 2014, 40, 160], [164, 2011, 20, 130], [165, 2015, 40, 170], [166, 2011, 20, 130], [167, 2013, 40, 150], [168, 2011, 20, 130], [169, 2008, 40, 100], [170, 2007, 20, 90], [171, 2005, 40, 70], [172, 2004, 20, 60], [173, 2012, 40, 140], [174, 2002, 20, 40], [175, 2004, 40, 60], [176, 2002, 20, 40], [177, 2006, 40, 80], [178, 2002, 20, 40], [179, 2010, 40, 120], [180, 2002, 20, 40], [181, 2013, 40, 150], [182, 2002, 20, 40], [183, 2016, 40, 180], [184, 2002, 20, 40], [185, 2011, 40, 130], [186, 2002, 20, 40], [187, 2005, 40, 70], [188, 2002, 20, 40], [189, 2015, 40, 170], [190, 2002, 20, 40], [191, 2009, 40, 110], [192, 2002, 20, 40], [193, 2007, 40, 90], [194, 2002, 20, 40], [195, 2014, 40, 160], [196, 2002, 20, 40], [197, 2007, 40, 90], [198, 2000, 20, 20], [199, 2006, 40, 80], [200, 2000, 20, 20], [201, 2004, 40, 60], [202, 2000, 20, 20], [203, 2017, 40, 190], [204, 2000, 20, 20], [205, 2009, 40, 110], [206, 2000, 20, 20], [207, 2013, 40, 150], [208, 2000, 20, 20], [209, 2014, 40, 160], [210, 2000, 20, 20], [211, 2011, 40, 130], [212, 2000, 20, 20], [213, 2000, 40, 20], [214, 2000, 20, 20], [215, 2001, 40, 30], [216, 2000, 20, 20], [217, 2015, 40, 170], [218, 2000, 20, 20], [219, 2005, 40, 70], [220, 2000, 20, 20], [221, 2002, 40, 40], [222, 2000, 20, 20], [223, 2010, 40, 120], [224, 2000, 20, 20], [225, 2013, 40, 150], [226, 2014, 20, 160], [227, 2012, 40, 140], [228, 2012, 20, 140], [229, 2017, 40, 190], [230, 2011, 20, 130], [231, 2011, 40, 130], [232, 2011, 20, 130], [233, 2012, 40, 140], [234, 2011, 20, 130], [235, 2014, 40, 160], [236, 2009, 20, 110], [237, 2013, 40, 150], [238, 2009, 20, 110], [239, 2015, 40, 170], [240, 2009, 20, 110], [241, 2017, 40, 190], [242, 2009, 20, 110], [243, 2011, 40, 130], [244, 2009, 20, 110], [245, 2012, 40, 140], [246, 2010, 20, 120], [247, 2013, 40, 150], [248, 2010, 20, 120], [249, 2010, 40, 120], [250, 2010, 20, 120], [251, 2007, 40, 90], [252, 2005, 20, 70], [253, 2016, 40, 180], [254, 2016, 20, 180], [255, 2017, 40, 190], [256, 2012, 20, 140], [257, 2016, 40, 180], [258, 2009, 20, 110], [259, 2010, 40, 120], [260, 2007, 20, 90], [261, 2012, 40, 140], [262, 2005, 20, 70], [263, 2011, 40, 130], [264, 2005, 20, 70], [265, 2010, 40, 120], [266, 2005, 20, 70], [267, 2015, 40, 170], [268, 2005, 20, 70], [269, 2013, 40, 150], [270, 2005, 20, 70], [271, 2008, 40, 100], [272, 2005, 20, 70], [273, 2017, 40, 190], [274, 2005, 20, 70], [275, 2009, 40, 110], [276, 2005, 20, 70], [277, 2014, 40, 160], [278, 1999, 20, 10], [279, 2014, 40, 160], [280, 2012, 20, 140], [281, 2016, 40, 180], [282, 2013, 20, 150], [283, 2015, 40, 170], [284, 2013, 20, 150], [285, 2014, 40, 160], [286, 2013, 20, 150], [287, 2017, 40, 190], [288, 2013, 20, 150], [289, 2017, 40, 190], [290, 2015, 20, 170], [291, 2016, 40, 180], [292, 2015, 20, 170], [293, 2015, 40, 170], [294, 2015, 20, 170], [295, 2016, 40, 180], [296, 2014, 20, 160], [297, 2007, 40, 90], [298, 2004, 20, 60], [299, 2017, 40, 190], [300, 2016, 20, 180], [301, 2004, 40, 60], [302, 2004, 20, 60], [303, 2008, 40, 100], [304, 2004, 20, 60], [305, 2011, 40, 130], [306, 2004, 20, 60], [307, 2006, 40, 80], [308, 2004, 20, 60], [309, 2012, 40, 140], [310, 2004, 20, 60], [311, 2010, 40, 120], [312, 2004, 20, 60], [313, 2009, 40, 110], [314, 2004, 20, 60], [315, 2016, 40, 180], [316, 2004, 20, 60], [317, 2014, 40, 160], [318, 2004, 20, 60], [319, 2013, 40, 150], [320, 2004, 20, 60], [321, 2015, 40, 170], [322, 2004, 20, 60], [323, 2011, 40, 130], [324, 2007, 20, 90], [325, 2007, 40, 90], [326, 2007, 20, 90], [327, 2017, 40, 190], [328, 2007, 20, 90], [329, 2016, 40, 180], [330, 2007, 20, 90], [331, 2012, 40, 140], [332, 2007, 20, 90], [333, 2015, 40, 170], [334, 2007, 20, 90], [335, 2013, 40, 150], [336, 2007, 20, 90], [337, 2014, 40, 160], [338, 2007, 20, 90], [339, 2009, 40, 110], [340, 2006, 20, 80], [341, 2011, 40, 130], [342, 2006, 20, 80], [343, 2015, 40, 170], [344, 2012, 20, 140], [345, 2011, 40, 130], [346, 2010, 20, 120], [347, 2017, 40, 190], [348, 2010, 20, 120], [349, 2016, 40, 180], [350, 2010, 20, 120], [351, 2014, 40, 160], [352, 2010, 20, 120], [353, 2015, 40, 170], [354, 2010, 20, 120], [355, 2003, 40, 50], [356, 2000, 20, 20], [357, 2016, 40, 180], [358, 2000, 20, 20], [359, 2008, 40, 100], [360, 2000, 20, 20], [361, 2012, 40, 140], [362, 2000, 20, 20], [363, 2017, 40, 190], [364, 2014, 20, 160], [365, 2014, 40, 160], [366, 2008, 20, 100], [367, 2013, 40, 150], [368, 2008, 20, 100], [369, 2017, 40, 190], [370, 2008, 20, 100], [371, 2010, 40, 120], [372, 2008, 20, 100], [373, 2012, 40, 140], [374, 2008, 20, 100], [375, 2015, 40, 170], [376, 2008, 20, 100], [377, 2014, 40, 160], [378, 2003, 20, 50], [379, 2015, 40, 170], [380, 2003, 20, 50], [381, 2017, 40, 190], [382, 2003, 20, 50], [383, 2013, 40, 150], [384, 2003, 20, 50], [385, 2010, 40, 120], [386, 2003, 20, 50], [387, 2009, 40, 110], [388, 2003, 20, 50], [389, 2016, 40, 180], [390, 2012, 20, 140], [391, 2013, 40, 150], [392, 2012, 20, 140], [393, 2011, 40, 130], [394, 2008, 20, 100], [395, 2016, 40, 180], [396, 2008, 20, 100], [397, 2009, 40, 110], [398, 2008, 20, 100], [399, 2013, 40, 150], [400, 2013, 20, 150], [401, 2017, 40, 190], [402, 2017, 20, 190], [403, 2014, 40, 160], [404, 2014, 20, 160], [405, 2015, 40, 170], [406, 2014, 20, 160], [407, 2013, 40, 150], [408, 2001, 20, 30], [409, 2007, 40, 90], [410, 2001, 20, 30], [411, 2010, 40, 120], [412, 2001, 20, 30], [413, 2016, 40, 180], [414, 2011, 20, 130], [415, 2014, 40, 160], [416, 2011, 20, 130], [417, 2015, 40, 170], [418, 2011, 20, 130], [419, 2013, 40, 150], [420, 2011, 20, 130], [421, 2008, 40, 100], [422, 2007, 20, 90], [423, 2005, 40, 70], [424, 2004, 20, 60], [425, 2012, 40, 140], [426, 2002, 20, 40], [427, 2004, 40, 60], [428, 2002, 20, 40], [429, 2006, 40, 80], [430, 2002, 20, 40], [431, 2010, 40, 120], [432, 2002, 20, 40], [433, 2013, 40, 150], [434, 2002, 20, 40], [435, 2016, 40, 180], [436, 2002, 20, 40], [437, 2011, 40, 130], [438, 2002, 20, 40], [439, 2005, 40, 70], [440, 2002, 20, 40], [441, 2015, 40, 170], [442, 2002, 20, 40], [443, 2009, 40, 110], [444, 2002, 20, 40], [445, 2007, 40, 90], [446, 2002, 20, 40], [447, 2014, 40, 160], [448, 2002, 20, 40], [449, 2007, 40, 90], [450, 2000, 20, 20], [451, 2006, 40, 80], [452, 2000, 20, 20], [453, 2004, 40, 60], [454, 2000, 20, 20], [455, 2017, 40, 190], [456, 2000, 20, 20], [457, 2009, 40, 110], [458, 2000, 20, 20], [459, 2013, 40, 150], [460, 2000, 20, 20], [461, 2014, 40, 160], [462, 2000, 20, 20], [463, 2011, 40, 130], [464, 2000, 20, 20], [465, 2000, 40, 20], [466, 2000, 20, 20], [467, 2001, 40, 30], [468, 2000, 20, 20], [469, 2015, 40, 170], [470, 2000, 20, 20], [471, 2005, 40, 70], [472, 2000, 20, 20], [473, 2002, 40, 40], [474, 2000, 20, 20], [475, 2010, 40, 120], [476, 2000, 20, 20], [477, 2013, 40, 150], [478, 2014, 20, 160], [479, 2012, 40, 140], [480, 2012, 20, 140], [481, 2017, 40, 190], [482, 2011, 20, 130], [483, 2011, 40, 130], [484, 2011, 20, 130], [485, 2012, 40, 140], [486, 2011, 20, 130], [487, 2014, 40, 160], [488, 2009, 20, 110], [489, 2013, 40, 150], [490, 2009, 20, 110], [491, 2015, 40, 170], [492, 2009, 20, 110], [493, 2017, 40, 190], [494, 2009, 20, 110], [495, 2011, 40, 130], [496, 2009, 20, 110], [497, 2012, 40, 140], [498, 2010, 20, 120], [499, 2013, 40, 150], [500, 2010, 20, 120], [501, 2010, 40, 120], [502, 2010, 20, 120], [503, 2007, 40, 90], [504, 2005, 20, 70]]
[[1, 2, 18], [3, 4, 10], [5, 6, 3], [7, 8, 5], [9, 10, 7], [11, 12, 4], [13, 14, 4], [15, 16, 8], [17, 18, 2], [19, 20, 4], [21, 22, 3], [23, 24, 1], [25, 26, 4], [27, 28, 13], [29, 30, 41], [31, 32, 21], [33, 34, 58], [35, 36, 20], [37, 38, 25], [39, 40, 71], [41, 42, 14], [43, 44, 33], [45, 46, 5], [47, 48, 13], [49, 50, 5], [51, 52, 5], [53, 54, 3], [55, 56, 9], [57, 58, 5], [59, 60, 2], [61, 62, 7], [63, 64, 3], [65, 66, 6], [67, 68, 3], [69, 70, 2], [71, 72, 2], [73, 74, 1], [75, 76, 4], [77, 78, 4], [79, 80, 7], [81, 82, 2], [83, 84, 6], [85, 86, 8], [87, 88, 2], [89, 90, 1], [91, 92, 9], [93, 94, 12], [95, 96, 9], [97, 98, 12], [99, 100, 22], [101, 102, 7], [103, 104, 2], [105, 106, 7], [107, 108, 4], [109, 110, 4], [111, 112, 21], [113, 114, 22], [115, 116, 19], [117, 118, 19], [119, 120, 8], [121, 122, 10], [123, 124, 18], [125, 126, 2], [127, 128, 1], [129, 130, 1], [131, 132, 1], [133, 134, 1], [135, 136, 1], [137, 138, 12], [139, 140, 3], [141, 142, 19], [143, 144, 7], [145, 146, 12], [147, 148, 1], [149, 150, 2], [151, 152, 2], [153, 154, 4], [155, 156, 1], [157, 158, 1], [159, 160, 1], [161, 162, 18], [163, 164, 8], [165, 166, 15], [167, 168, 8], [169, 170, 3], [171, 172, 2], [173, 174, 4], [175, 176, 1], [177, 178, 4], [179, 180, 2], [181, 182, 1], [183, 184, 1], [185, 186, 1], [187, 188, 2], [189, 190, 1], [191, 192, 1], [193, 194, 2], [195, 196, 1], [197, 198, 4], [199, 200, 6], [201, 202, 3], [203, 204, 2], [205, 206, 5], [207, 208, 1], [209, 210, 2], [211, 212, 2], [213, 214, 1], [215, 216, 2], [217, 218, 2], [219, 220, 1], [221, 222, 1], [223, 224, 2], [225, 226, 1], [227, 228, 1], [229, 230, 15], [231, 232, 1], [233, 234, 3], [235, 236, 8], [237, 238, 7], [239, 240, 2], [241, 242, 2], [243, 244, 3], [245, 246, 5], [247, 248, 3], [249, 250, 1], [251, 252, 1], [253, 254, 18], [255, 256, 10], [257, 258, 3], [259, 260, 5], [261, 262, 7], [263, 264, 4], [265, 266, 4], [267, 268, 8], [269, 270, 2], [271, 272, 4], [273, 274, 3], [275, 276, 1], [277, 278, 4], [279, 280, 13], [281, 282, 41], [283, 284, 21], [285, 286, 58], [287, 288, 20], [289, 290, 25], [291, 292, 71], [293, 294, 14], [295, 296, 33], [297, 298, 5], [299, 300, 13], [301, 302, 5], [303, 304, 5], [305, 306, 3], [307, 308, 9], [309, 310, 5], [311, 312, 2], [313, 314, 7], [315, 316, 3], [317, 318, 6], [319, 320, 3], [321, 322, 2], [323, 324, 2], [325, 326, 1], [327, 328, 4], [329, 330, 4], [331, 332, 7], [333, 334, 2], [335, 336, 6], [337, 338, 8], [339, 340, 2], [341, 342, 1], [343, 344, 9], [345, 346, 12], [347, 348, 9], [349, 350, 12], [351, 352, 22], [353, 354, 7], [355, 356, 2], [357, 358, 7], [359, 360, 4], [361, 362, 4], [363, 364, 21], [365, 366, 22], [367, 368, 19], [369, 370, 19], [371, 372, 8], [373, 374, 10], [375, 376, 18], [377, 378, 2], [379, 380, 1], [381, 382, 1], [383, 384, 1], [385, 386, 1], [387, 388, 1], [389, 390, 12], [391, 392, 3], [393, 394, 19], [395, 396, 7], [397, 398, 12], [399, 400, 1], [401, 402, 2], [403, 404, 2], [405, 406, 4], [407, 408, 1], [409, 410, 1], [411, 412, 1], [413, 414, 18], [415, 416, 8], [417, 418, 15], [419, 420, 8], [421, 422, 3], [423, 424, 2], [425, 426, 4], [427, 428, 1], [429, 430, 4], [431, 432, 2], [433, 434, 1], [435, 436, 1], [437, 438, 1], [439, 440, 2], [441, 442, 1], [443, 444, 1], [445, 446, 2], [447, 448, 1], [449, 450, 4], [451, 452, 6], [453, 454, 3], [455, 456, 2], [457, 458, 5], [459, 460, 1], [461, 462, 2], [463, 464, 2], [465, 466, 1], [467, 468, 2], [469, 470, 2], [471, 472, 1], [473, 474, 1], [475, 476, 2], [477, 478, 1], [479, 480, 1], [481, 482, 15], [483, 484, 1], [485, 486, 3], [487, 488, 8], [489, 490, 7], [491, 492, 2], [493, 494, 2], [495, 496, 3], [497, 498, 5], [499, 500, 3], [501, 502, 1], [503, 504, 1]]

In [77]:
for key, value in ROBtoIOT.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 40, srcLon]) #Robot row
    Nodes.append([len(Nodes) + 1, int(key[1]), 20, trgLon]) #IoT row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in IOTtoROB.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 20, srcLon]) #IoT row
    Nodes.append([len(Nodes) + 1, int(key[1]), 40, trgLon]) #ROB row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in AItoIOT.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 60, srcLon]) #AI row
    Nodes.append([len(Nodes) + 1, int(key[1]), 20, trgLon]) #IoT row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in IOTtoAI.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 20, srcLon]) #IoT row
    Nodes.append([len(Nodes) + 1, int(key[1]), 60, trgLon]) #AI row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in AItoROB.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 60, srcLon]) #AI row
    Nodes.append([len(Nodes) + 1, int(key[1]), 40, trgLon]) #ROB row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in ROBtoAI.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 40, srcLon]) #Robot row
    Nodes.append([len(Nodes) + 1, int(key[1]), 60, trgLon]) #AI row
    Edges.append([len(Nodes) - 1, len(Nodes), value])

for node in Nodes:
    NodeDict[node[0]] = node[2] # create dictionary of ID-Latitude pairs

with open('WOS_convergence_edges.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["source", "target", "weight", "cat"])
    for edge in Edges:
        if (NodeDict[edge[0]] == 20): # IoT
            edge.append(0)
            writer.writerow(edge)
        elif (NodeDict[edge[0]] == 40): # Robotics
            edge.append(1)
            writer.writerow(edge)
        else:                          # AI
            edge.append(2)
            writer.writerow(edge)

with open('WOS_convergence_nodes.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["id", "label", "lat", "lon"])
    for node in Nodes:
        writer.writerow(node)

## Try without diff in years

In [48]:
Nodes = []
NodeDict = {}
Edges = []

In [49]:
for key, value in ROBtoIOT.items():
    srcLon = int(key[0])
    trgLon = int(key[1])
    Nodes.append([len(Nodes) + 1, int(key[0]), 40, srcLon]) #Robot row
    Nodes.append([len(Nodes) + 1, int(key[1]), 20, trgLon]) #IoT row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in IOTtoROB.items():
    srcLon = int(key[0])
    trgLon = int(key[1])
    Nodes.append([len(Nodes) + 1, int(key[0]), 20, srcLon]) #IoT row
    Nodes.append([len(Nodes) + 1, int(key[1]), 40, trgLon]) #ROB row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in AItoIOT.items():
    srcLon = int(key[0])
    trgLon = int(key[1])
    Nodes.append([len(Nodes) + 1, int(key[0]), 60, srcLon]) #AI row
    Nodes.append([len(Nodes) + 1, int(key[1]), 20, trgLon]) #IoT row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in IOTtoAI.items():
    srcLon = int(key[0])
    trgLon = int(key[1])
    Nodes.append([len(Nodes) + 1, int(key[0]), 20, srcLon]) #IoT row
    Nodes.append([len(Nodes) + 1, int(key[1]), 60, trgLon]) #AI row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in AItoROB.items():
    srcLon = int(key[0])
    trgLon = int(key[1])
    Nodes.append([len(Nodes) + 1, int(key[0]), 60, srcLon]) #AI row
    Nodes.append([len(Nodes) + 1, int(key[1]), 40, trgLon]) #ROB row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in ROBtoAI.items():
    srcLon = int(key[0])
    trgLon = int(key[1])
    Nodes.append([len(Nodes) + 1, int(key[0]), 40, srcLon]) #Robot row
    Nodes.append([len(Nodes) + 1, int(key[1]), 60, trgLon]) #AI row
    Edges.append([len(Nodes) - 1, len(Nodes), value])

In [64]:
print(Nodes[1:10])
print(Edges[1:10])

[[2, 2016, 20, 2016], [3, 2017, 40, 2017], [4, 2012, 20, 2012], [5, 2016, 40, 2016], [6, 2009, 20, 2009], [7, 2010, 40, 2010], [8, 2007, 20, 2007], [9, 2012, 40, 2012], [10, 2005, 20, 2005]]
[[3, 4, 10], [5, 6, 3], [7, 8, 5], [9, 10, 7], [11, 12, 4], [13, 14, 4], [15, 16, 8], [17, 18, 2], [19, 20, 4]]

In [50]:

for node in Nodes:
    NodeDict[node[0]] = node[2] # create dictionary of ID-Latitude pairs

In [51]:
with open('WOS_convergence_edges.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["source", "target", "weight", "cat"])
    for edge in Edges:
        if (NodeDict[edge[0]] == 20): # IoT
            edge.append(0)
            writer.writerow(edge)
        elif (NodeDict[edge[0]] == 40): # Robotics
            edge.append(1)
            writer.writerow(edge)
        else:                          # AI
            edge.append(2)
            writer.writerow(edge)

with open('WOS_convergence_nodes.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["id", "label", "lat", "lon"])
    for node in Nodes:
        writer.writerow(node)

In [78]:
#print("AI->ROB: " + str(AItoROB))
#print("ROB->IOT: " + str(ROBtoIOT))
#print("IOT->AI: " + str(IOTtoAI))
#print("ROB->AI: " + str(ROBtoAI))
#print("AI->IOT: " + str(AItoIOT))
#print("IOT->ROB : " + str(IOTtoROB))

In [15]:
srcYear = dict(zip(df5.id, df5.Year))
trgYear = dict(zip(df5.id, df5.TargetYear))

In [34]:
if ((AIsource == '1') & (ROBtarget == '1')):
    if AItoROB.has_key((srcYear, trgYear)):
        AItoROB[(srcYear, trgYear)] += 1
    else: AItoROB[(srcYear, trgYear)] = 1
if ((ROBsource == '1') & (IOTtarget == '1')):
    if ROBtoIOT.has_key((srcYear, trgYear)):
        ROBtoIOT[(srcYear, trgYear)] += 1
    else: ROBtoIOT[(srcYear, trgYear)] = 1
if ((IOTsource == '1') & (AItarget == '1')):
    if IOTtoAI.has_key((srcYear, trgYear)):
        IOTtoAI[(srcYear, trgYear)] += 1
    else: IOTtoAI[(srcYear, trgYear)] = 1
if ((ROBsource == '1') & (AItarget == '1')):
    if ROBtoAI.has_key((srcYear, trgYear)):
        ROBtoAI[(srcYear, trgYear)] += 1
    else: ROBtoAI[(srcYear, trgYear)] = 1
if ((AIsource == '1') & (IOTtarget == '1')):
    if AItoIOT.has_key((srcYear, trgYear)):
        AItoIOT[(srcYear, trgYear)] += 1
    else: AItoIOT[(srcYear, trgYear)] = 1
if ((IOTsource == '1') & (ROBtarget == '1')):
    if IOTtoROB.has_key((srcYear, trgYear)):
        IOTtoROB[(srcYear, trgYear)] += 1
    else: IOTtoROB[(srcYear, trgYear)] = 1

In [40]:
for row in df5:
if ((AIsource == '1') & (ROBtarget == '1')):
    if AItoROB.has_key((srcYear, trgYear)):
        AItoROB[(srcYear, trgYear)] += 1
    else: AItoROB[(srcYear, trgYear)] = 1

{}

In [39]:
for key, value in ROBtoIOT.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 40, srcLon]) #Robot row
    Nodes.append([len(Nodes) + 1, int(key[1]), 20, trgLon]) #IoT row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in IOTtoROB.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 20, srcLon]) #IoT row
    Nodes.append([len(Nodes) + 1, int(key[1]), 40, trgLon]) #ROB row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in AItoIOT.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 60, srcLon]) #AI row
    Nodes.append([len(Nodes) + 1, int(key[1]), 20, trgLon]) #IoT row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in IOTtoAI.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 20, srcLon]) #IoT row
    Nodes.append([len(Nodes) + 1, int(key[1]), 60, trgLon]) #AI row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in AItoROB.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 60, srcLon]) #AI row
    Nodes.append([len(Nodes) + 1, int(key[1]), 40, trgLon]) #ROB row
    Edges.append([len(Nodes) - 1, len(Nodes), value])
for key, value in ROBtoAI.items():
    srcLon = (int(key[0]) - 1998) * 10
    trgLon = (int(key[1]) - 1998) * 10
    Nodes.append([len(Nodes) + 1, int(key[0]), 40, srcLon]) #Robot row
    Nodes.append([len(Nodes) + 1, int(key[1]), 60, trgLon]) #AI row
    Edges.append([len(Nodes) - 1, len(Nodes), value])

for node in Nodes:
    NodeDict[node[0]] = node[2] # create dictionary of ID-Latitude pairs

with open('WOS_convergence_edges.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["source", "target", "weight", "cat"])
    for edge in Edges:
        if (NodeDict[edge[0]] == 20): # IoT
            edge.append(0)
            writer.writerow(edge)
        elif (NodeDict[edge[0]] == 40): # Robotics
            edge.append(1)
            writer.writerow(edge)
        else:                          # AI
            edge.append(2)
            writer.writerow(edge)

with open('WOS_convergence_nodes.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["id", "label", "lat", "lon"])
    for node in Nodes:
        writer.writerow(node)